@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

*,*::before,*::after{box-sizing:border-box}*{margin:0}@media (prefers-reduced-motion:no-preference){html{interpolate-size:allow-keywords}}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#root,#__next{isolation:isolate}
h1,h2,h3,h4,h5,h6{
     font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
}

html, body {
    margin: 0;
    padding: 0;
     font-family: "Plus Jakarta Sans", sans-serif;
     font-weight:300;
}

body,html{
}
ul{
    list-style: none;
    padding:0;
}
a,
a:link,
a:visited,
a:hover,
a:active{
}
a:hover{
}
.tategaki{
    writing-mode: vertical-rl;
    text-orientation: upright;
}
header h1{
    text-align: center;
    padding:40px;
    border-bottom:2px solid #000;
  
}
.page_wrapper{
}
.page_wrapper section + section{
    margin-top: 60px;
}
.page_wrapper section:last-of-type{
    margin-bottom: 100px;
}
.page_wrapper #newslist{
    max-width: 1000px;
    margin-top:2em;
    margin-left: auto;
    margin-right: auto;
}
.page_wrapper #newslist ul li + li{
    margin-top: 1.5em;
}
.page_wrapper #newslist ul li a{
    display: flex;
    text-decoration:none;
    color:#000;
}
.page_wrapper #newslist ul li a:hover{
    text-decoration:underline;
}
.page_wrapper #newslist ul li a .date{
    width: 8em;
}
.page_wrapper #newslist ul li a .category{
    width:8em;
}
@media screen and (max-width: 767px) {
    body,html{
    }
    .page_wrapper{
     
    }
}

