@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

*,*::before,*::after{box-sizing:border-box}*{margin:0}@media (prefers-reduced-motion:no-preference){html{interpolate-size:allow-keywords}}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#root,#__next{isolation:isolate}

html, body {
    margin: 0;
    padding: 0;
    color: #807F7A;
}

body,html{
    background: #ccc;
    color:#9CD089;
    writing-mode: vertical-rl; /* 縦書き（右→左） */
    text-orientation: upright; /* 文字の向きを正立に */
}
a,
a:link,
a:visited,
a:hover,
a:active{
    color:#9CD089;
}
a:hover{
    text-decoration: underline;
}
.lp_wrapper{
    max-width:100vw;
    overflow: hidden;
}
.lp_wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
}
.lp_wrapper section{
    flex: 1 1 auto;
}
.lp_wrapper section div.contents{
    position:relative; 
    z-index:2;
    border-left:1px solid #9CD089;
    width:100%;
    padding:30px;
}
.lp_wrapper section div.contents h2{
    cursor: pointer;
}
.lp_wrapper section div.contents *:not(h2){
    display: none;
}
.lp_wrapper section div.contents > *{
    position:relative;
    z-index:2;
}
.lp_wrapper section .bgimage{
    position: fixed;
    bottom:0;
    top:0;
    left:0;
    right: 0;
    z-index:1;
}
.lp_wrapper section .bgimage img{
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 767px) {
    body,html{
        writing-mode: initial; /* 縦書き（右→左） */
        text-orientation: initial; /* 文字の向きを正立に */
    }
    .lp_wrapper{
        flex-direction: row;
    }
}