@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

*,*::before,*::after{box-sizing:border-box}*{margin:0}@media (prefers-reduced-motion:no-preference){html{interpolate-size:allow-keywords}}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#root,#__next{isolation:isolate}
h1,h2,h3,h4,h5,h6{
     font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
}

html, body {
    margin: 0;
    padding: 0;
     font-family: "Plus Jakarta Sans", sans-serif;
     font-weight:300;
}

body,html{
    background: #807F7A;
    color:#9CD089;
    letter-spacing: -0.3em;
}
ul{
    list-style: none;
    padding:0;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    color:#9CD089;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    background-color: #9CD08933;
}
.lp_wrapper{
    max-width:100vw;
    overflow: hidden;
}
.lp_wrapper{
    display: flex;
    flex-direction:column;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height:100%;
    transition: grid-template-columns 0.5s ease;
    writing-mode: vertical-rl; /* ç¸¦æ›¸ãï¼ˆå³â†’å·¦ï¼‰ */
    text-orientation: upright; /* æ–‡å­—ã®å‘ãã‚’æ­£ç«‹ã« */
}
.lp_wrapper section{
    flex-basis: 0;
    flex: 1 1 auto;
    transition:0.5s;
    max-width:100%;
}
.lp_wrapper section.unactive{
    max-width: 7rem;
}
.lp_wrapper section#main{
    max-width: unset;
    flex: 0 0 auto;
}
.lp_wrapper section.active{
    flex: 1 1 auto;
}
.lp_wrapper section{
    transition: 0.5s;
}
.lp_wrapper section div.contents{
    position:relative;
    z-index:3;
    border-right:1px solid #9CD089;
    width:100%;
    padding: 0;
}
.lp_wrapper section div.contents:after{
    content:"";
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    border-right:1px solid #9CD089;
}
.lp_wrapper section#main div.contents:after{
    content:"";
    border-right:none;
}
.lp_wrapper section div.contents h2{
    cursor: pointer;
    position: relative;
    height: fit-content;
    padding: 2rem 1rem;
}
.lp_wrapper section div.contents h3{
    letter-spacing:0.02;
}
.lp_wrapper section div.contents .contents_inner{
    display: none;
    padding: 2rem 0 2rem 2rem;
}
.lp_wrapper section.active .contents_inner{
    width: auto;
    letter-spacing: 0.07em;
}
.lp_wrapper section div.contents > *{
    z-index: 3;
}
.lp_wrapper section .bgimage{
    opacity: 0;
    z-index:1;
    position: absolute;
    transition: 0.3s;
}
.lp_wrapper section:not(#main) .bgimage{
    z-index: 2;
    right: 0;
}
.lp_wrapper section:not(#main)  .bgimage.visible{
    right: auto;
    z-index:2;
    opacity: 1;
}
.lp_wrapper section div.contents{
    overflow: hidden;
}
.lp_wrapper section .bgimage.bghover{
    opacity: 1;
}
.lp_wrapper section .bgimage img{
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: 100%;
}
.lp_wrapper section#main ul{
    padding: 2rem;
    line-height: 2;
}
.lp_wrapper section#main h1{
    position:absolute;
    bottom:0;
    left:0;
}
.lp_wrapper section#main .bgimage{
    left: 0;
    width:100vw;
    position: fixed;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    body,html{
    }
    .lp_wrapper{
        position: relative;
        overflow: visible;
        transition: grid-template-columns 0.5s ease;
        writing-mode: initial;
        text-orientation: initial;
        flex-direction: column;
    }
    .lp_wrapper section{
        border-left:none;
        width: 100%;
        letter-spacing: 0.3em;
    }
    .lp_wrapper .contents section {
        width: 100%;
    }
    .lp_wrapper section div.contents{
        border-top:1px solid #9CD089;
        border-left:none;
    }
    .lp_wrapper section div.contents:has('.bghover'){
        overflow: hidden;
    }
    .lp_wrapper section#main div.contents{
        border-top:none;
    }
    .lp_wrapper section#main ul{
        padding: 3vw;
        font-size:0.9rem;
    }
    .lp_wrapper section div.contents .contents_inner{
        width: 100%;
        padding: 0rem 5vw 5vw;
    }
    
    .active .lp_wrapper section.unactive{
        max-width:unset;
    }
    
    .lp_wrapper section.active,
    .lp_wrapper section.unactive{
        max-width:unset;
    }
    .lp_wrapper section:not(#main) .bgimage{
        position:relative;
    }
}

